<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kai's Flies</title>
  </head>
  <body style="margin: 0 0 0 0;padding: 0 0 0 0">
    <div id="root" style="hegiht: 100%; width: 100%; position: absolute; top: 0; bottom: 0; right: 0; left: 0;"/>
  </body>
</html>
